  body {
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    font-family: sans-serif;
    background-color: #f5f5f5;
  }
  h1 {
    text-align: center;
    margin-top: 150px;
  }
  form {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
  }
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  button[type="submit"], button[type="button"] {
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button[type="submit"]:hover, button[type="button"]:hover {
    background-color: #555;
  }
  .message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  .error {
    background-color: #ff5555;
    color: #fff;
  }
  .success {
    background-color: #55ff55;
    color: #333;
  }
