.upload-btn {
    margin-bottom: 15px;
    padding: 10px 15px;
    border: none;
    background-color: #1c75bc;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    outline: none;

}
.upload-btn:hover {
    background-color: #195b94;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
label {
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="password"],
textarea {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
  textarea {
    resize: none;
}
.submit-btn {
    display: block;
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    background-color: #1c75bc;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}
.submit-btn:hover {
    background-color: #195b94;
}

.card .setbut{
    display: flex;
    justify-content: center;
    
}





  


